.home-slide-five-face {
	padding: 174px 0 56px;
}
.home-six {
	background: #2D0160;
}
.home-slide-five {
	.banner-slider-img {
		position: relative;
	}
}
.home-slide-five-text {
	max-width: 415px;
	width: 100%;
	h5 {
		font-weight: 500;
		font-size: 16px;
		color: $warning;
	}
	h1 {
		font-weight: 700;
		font-size: 36px;
		color: #FFFFFF;
		margin-bottom: 38px;
	}
	p {
		font-weight: 700;
		font-size: 16px;
		color: #FFFFFF;
		margin-bottom: 38px;
	}
}
.slider-five-one {
	position: absolute;
	top: 9.2rem;
	img {
		width: 351px;
		max-width: 100%;
	}
}
.slider-five-two {
	animation: up-down 5s ease-in-out infinite alternate-reverse both;
	img {
		width: 351px;
		max-width: 100%;
	}
}
.vector-shapes-five {
	position: absolute;
	left: 2.5rem;
	top: 14.5rem;
}
.banner-content-five {
	margin-bottom: 116px;
	.form-inner-five {
		padding: 5px;
		background: #FFFFFF;
		border: 1px solid $warning;
		box-shadow: 0px 16px 106px rgb(196 196 196 / 16%);
		border-radius: 40px;
		width: 100%;
		max-width: 585px;
		.input-group {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
		}
		::-webkit-input-placeholder {
			font-size: 14px;
		}
		::-moz-placeholder {
			font-size: 14px;
		}
		:-ms-input-placeholder {
			font-size: 14px;
		}
		:-moz-placeholder {
			font-size: 14px;
		}
	}
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__arrow {
				height: auto;
				position: absolute;
				top: 23px;
				right: 0;
				width: 50px;
				b {
					margin-top: -2px;
					margin-left: -8px;
					border-color: $white;
				}
			}
			.select2-selection__rendered {
				font-weight: 500;
				font-size: 16px;
				color: $white  !important;
				padding-left: 0;
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow {
					b {
						margin-top: 2px;
					}
				}
			}
		}
	}
	.select2-container {
		.select2-selection--single {
			border: 0;
			align-items: center;
			display: flex;
			background: transparent;
			justify-content: center;
			height: 50px;
			font-weight: 500;
			font-size: 14px;
			color: $white;
		}
	}
	.sub-btn {
		background: $secondary;
		border: 1px solid $secondary;
		box-shadow: inset 0 0 0 0 #ffffff;
		border-radius: 32px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		border: 1px solid $secondary;
		border-radius: 32px;
		margin: 0px;
		line-height: 0;
		padding: 15px 15px;
		color: $white;
		border-top-left-radius: 32px !important;
		border-bottom-left-radius: 32px !important;
		&:hover {
			color: #0071DC;
			border: 1px solid #0071DC;
			background: #0071DC;
			box-shadow: inset 0 50px 0 0 #1CBEEF;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}
	}
}
.drop-detail-five {
	background: $secondary;
	border-radius: 90px;
	display: flex;
	border: 0;
	border-top-right-radius: 90px !important;
	border-bottom-right-radius: 90px !important;
	max-width: 147px;
	width: 100%;
}
.home-five {
	.select2-dropdown {
		border: 1px solid $secondary;
	}
	.select2-container--default {
		.select2-results__option--highlighted[aria-selected] {
			background-color: $secondary;
			color: #000000;
			font-size: 14px;
		}
	}
}
.banner-content-five .input-group>.form-control, .input-group>.form-select {
	position: relative;
	width: auto;
	margin-left: 0px !important;
	border: 1px solid transparent !important;
}

.section-header {
    &.section-header-six {
        h2 {
            margin-bottom: 15px;
        }
    }
}
.review-user-five {
	margin-bottom: 25px;
	.review-users-list {
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-right: -20px;
			a {
				img {
					width: 40px;
					height: 40px;
					border-radius: 50px;
					border: 2px solid #440093;
				}
			}
		}
	}
}
.review-rating-five {
	margin-left: 39px;
	p {
		display: inline-block;
		font-weight: 700;
		font-size: 16px;
		color: #FFFFFF;
		margin-bottom: 0;
	}
}
.rating-star {
	.filled {
		color: #FFB54A;
	}
}
.rate-head-five {
	h2 {
		font-weight: 700;
		font-size: 32px;
		color: #FFFFFF;
		margin-bottom: 0;
	}
	p {
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
		margin-left: 10px;
		margin-bottom: 0;
	}
}
.review-five-group {
	.course-count {
		margin-left: 0;
	}
}

/*-----------------
	Leading Section Five
-----------------------*/
.leading-section-five {
	position: relative;
	padding: 60px 0 60px;
	background: #F6F7FB;
	.owl-carousel {
		.owl-item {
			.lead-img {
				img {
					width: 147px;
				}
			}
		}
	}
}
.leading-five-content {
	h2 {
		font-weight: 700;
		font-size: 32px;
		color: #2D0160;
	}
	p {
		color: #515151;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 0;
	}
}
.course-section-five {
	.owl-theme {
		.owl-dots {
			.owl-dot {
				span {
					width: 15px;
					height: 5px;
					margin: 0px 5px;
					background: #D9D9D9;
					transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					-ms-transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
				}
			}
		}
		.owl-nav {
			&.disabled {
				& + .owl-dots {
					margin-top: 30px;
				}
			}
		}
	}
	.owl-carousel {
		.owl-item {
			img {
				display: inline-flex;
				width: auto;
			}
		}
	}
}
.home-five {
	.owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 50px;
                    height: 5px;
                    margin: 0 7px;
                    background: $light;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity .2s ease;
                    border-radius: 30px;
                }
                &.active, &:hover {
                    span {
                        background: $secondary;
                        width: 50px;
                        height: 5px;
                    }
                }
            }
        }
    }
}
.course-section-five {
    background: #ffffff;
    padding: 60px 0 60px;
    position: relative;
    z-index: 999;
    .course-box-five {
        position: relative;
        overflow: hidden;
        background: #FFFFFF;
        box-shadow: -3px 5px 16px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        margin-bottom: 24px;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
    }
}
.course-five-item {
	background: #F6F7FB;
	border-radius: 10px;
	border: 1px solid transparent;
	&:hover {
		background: #FFFFFF;
		border: 1px solid $primary;
        background: $primary;
		border-radius: 10px;
		transition-duration: 0s;
		.course-info-five {
			h3 {
				font-weight: 700;
				font-size: 20px;
				font-weight: 700;
				font-size: 20px;
				color: $white;
			}
		}
		.course-info-btn {
			.btn-five {
				background-color: $secondary;
			}
		}
		.icon-five-border {
			background-color: $secondary;
		}
	}
}
.home-five-course {
    .slick-list {
        margin: 0 -12px;
    }
    .slick-slide {
        margin: 0 12px;
    }
}
.course-five-grid {
	padding: 30px;
}
.course-info-five {
	margin-bottom: 20px;
	text-align: center;
	h3 {
		font-weight: 700;
		font-size: 20px;
		color: $gray-900;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		color: #515151;
		margin-bottom: 39px;
		margin-bottom: 0;
		color: #685F78;
		font-size: 16px;
		margin-left: 5px;
	}
	.course-view-five {
		i {
			color: $warning;
		}
	}
	.rating-img {
		i {
			color: $warning;
		}
	}
}
.course-info-btn {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	.btn-five {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.4s ease 0s;
		width: 30px;
		height: 30px;
		background: #2D0160;
		border-radius: 50%;
		-webkit-transition: 0.7s;
		-moz-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}
	i {
		color: #ffffff;
		font-size: 12px;
	}
}
.course-icon-five {
	margin-bottom: 39px;
	text-align: center;
	img {
		background: #ffffff;
		padding: 20px;
		align-items: center;
		justify-content: center;
		transition: all 0.4s ease 0s;
		border-radius: 50%;
	}
}
.header-five-title {
	margin-bottom: 50px;
	h2 {
		font-weight: 700;
		font-size: 32px;
		color: $gray-900;
		margin-bottom: 8px;
	}
}
.icon-five-border {
	position: relative;
	background: rgba(251, 15, 0, 0.2);
	border-radius: 75px 30px 75px 30px;
	width: 90px;
	margin: auto auto 20px;
}
.counter-section-five {
	background: $primary;
	padding: 60px 0 60px;
}
.count-content-five {
	h4 {
		font-weight: 700;
		font-size: 32px;
		color: $warning;
	}
	p {
		color: #ffffff;
		margin-bottom: 0;
	}
}
.count-five-0 {
	border-right: 0;
}
.featured-section-five {
	padding: 80px 0 54px;
	background: $white;
}
.tablist-five {
	display: inline-flex;
    align-items: center;
	margin-bottom: 40px;
	text-align: center;
	border-bottom: 1px solid $border-color;
	.nav-tab {
    margin-right: 40px;
	font-weight: $font-weight-medium;
	font-size: $font-size-14;
	color: $gray-900;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	&.active {
        color: $secondary;
        border-bottom: 4px solid $secondary;
        padding-bottom: 6px;
    }
    &:hover {
        color: $secondary;
        border-bottom: 4px solid $secondary;
        padding-bottom: 6px;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
    }
}
}

.product-content-five {
	padding: 20px;
	.price-five-group {
		p {
			font-weight: 500;
			font-size: 16px;
			color: #2D0160;
			margin-bottom: 0;
		}
		h3 {
			font-weight: 500;
			font-size: 20px;
			color: #FB0F00;
			margin-bottom: 0;
		}
	}
	h3 {
		a {
			font-weight: 600;
			font-size: 18px;
			color: #515151;
		}
	}
}
.joing-course-ovelay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	background: rgba(45, 1, 96, 0.63);
	border-radius: 10px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
.course-box-five {
	&:hover {
		.joing-course-ovelay {
			height: 100%;
			bottom: 0;
			-webkit-transition: 0.7s;
			-moz-transition: 0.7s;
			-o-transition: 0.7s;
			transition: 0.7s;
		}
		.heart-five {
			.fa-heart {
				width: 30px;
				height: 30px;
				background-color: transparent;
				border: 2px solid transparent;
				align-items: center;
				display: flex;
				justify-content: center;
				border-radius: 50%;
				font-size: 16px;
				color: #ff0000;
				stroke: #000;
				stroke-width: 30px;
				z-index: 2;
				-webkit-transition: 0.7s;
				-moz-transition: 0.7s;
				-o-transition: 0.7s;
				transition: 0.7s;
			}
		}
	}
}
.product-img-five {
	position: relative;
	overflow: hidden;
	padding: 0;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
.heart-five {
	position: absolute;
	top: 1rem;
	display: inline-block;
	left: 1rem;
	bottom: 0;
	.fa-heart {
		position: relative;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: 2px solid #FFFFFF;
		align-items: center;
		display: flex;
		justify-content: center;
		border-radius: 50%;
		font-size: 12px;
		color: #ffffff;
		-webkit-transition: 0.7s;
		-moz-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}
}
.course-group-img-five {
	display: flex;
	align-items: center;
	justify-content: space-between;
	img {
		max-width: 36px;
		height: 36px;
		border-radius: 50%;
		margin-right: 10px;
		margin-bottom: 0;
	}
	h6 {
		font-weight: 500;
		font-size: 16px;
		color: #515151;
		margin-bottom: 0;
	}
}
.course-share-five {
	.rating {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 12px;
	}
}
.product-five-title {
	display: flex;
	display: -ms-flexbox;
	margin-bottom: 20px;
}
.info-five-middle {
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	justify-content: space-between;
	.rating-img {
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
	}
	.course-view-five {
		p {
			font-weight: 500;
			font-size: 16px;
			color: #2D0160;
			margin-bottom: 0;
		}
	}
}
.price-five-group {
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	justify-content: space-between;
}
.course-view-five {
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
.course-group-five {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-five-middle .rating-img span, .info-five-middle .rating-img p {
	margin-bottom: 0;
}
.joing-course-middle {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	background-color: #0071DC;
	border-radius: 6px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
.joing-course-btn {
	font-weight: 500 !important;
	background: $warning;
	border: 1px solid $warning;
	text-align: center;
	padding: 10px 30px;
	position: relative;
	box-shadow: inset 0 0 0 0 #ffffff;
	border-radius: 32px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 32px;
	&:hover {
		color: #2D0160;
		border: 1px solid #2D0160;
		background: #ffffff;
		box-shadow: inset 0 50px 0 0 #ffffff;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}
.master-section-five {
	position: relative;
	background: $light-900;
	padding: 60px 0 60px;
	.header-five-title {
		h2 {
			max-width: 374px;
			width: 100%;
		}
	}
}
.master-five-vector {
	position: absolute;
	left: 2rem;
}
.skill-five-icon {
	margin-bottom: 10px;
	width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.career-five-content {
	margin-bottom: 40px;
	p {
		font-weight: 400;
		font-size: 16px;
		color: #515151;
	}
}
.skill-five-item {
	margin-bottom: 38px;
}
.learn-more-five {
	border: 1px solid #FED700;
	font-weight: 500 !important;
	color: #0D0D0D !important;
	background: #FED700;
	border-radius: 32px;
	font-size: 16px;
	text-align: center;
	padding: 12px 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-transform: initial;
	box-shadow: inset 0 0 0 0 #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	&:hover {
		background-color: #1CBEEF;
		border-color: #1CBEEF;
		color: #1CBEEF !important;
		box-shadow: inset 0 50px 0 0 #ffffff;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}
.skill-five-content {
	h3 {
		font-size: 18px;
		color: $gray-900;
        margin-bottom: 8px;
	}
	p {
		color: $gray-500;
		margin-bottom: 0;
	}
}


/*-----------------
	Experienced Course
-----------------------*/
.experienced-course-five {
	background: #2D0160;
	padding: 60px 0 60px;
	position: relative;
}
.instructor-vector-left {
	position: absolute;
	left: 0rem;
	top: 0.7rem;
}
.header-five-title-inner {
	margin-bottom: 30px;
}
.header-five-title {
	.ex-five-title {
		max-width: 374px;
		color: #FFDB20;
	}
}
.career-five-content {
	.ex-five-content {
		max-width: 550px;
		color: #ffffff;
	}
}
.experienced-five-sub {
	padding-left: 50px;
}
.instructor-vector-right {
	position: absolute;
	right: 2rem;
	bottom: 1.7rem;
}
.developer-five-list {
	max-width: 550px;
	margin: auto;
	li {
		img {
			max-width: 92px;
			height: 92px;
			border-radius: 50%;
			margin-right: 10px;
			margin-bottom: 0;
			border: 5px solid transparent;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		outline: none;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.column-img {
		display: flex;
		-ms-flex: 25%;
		flex: 25%;
		max-width: 25%;
		margin-bottom: 20px;
	}
}
.experienced-five-group {
	position: relative;
}
.developer-profile-five {
	cursor: pointer;
	position: relative;
	cursor: pointer;
	position: relative;
	text-align: center;
	width: 230px;
	-webkit-transform: translateZ(0);
	-webkit-font-smoothing: antialiased;
	.profile-five-ovelay {
		background: rgba(255, 255, 255, 0.85);
		border: 5px solid $warning;
		border-radius: 60px 60px 60px 0px;
		bottom: 100%;
		display: block;
		text-align: center;
		left: 70px;
		bottom: 80px;
		opacity: 0;
		z-index: 2;
		padding: 10px;
		position: absolute;
		min-width: 213px;
		max-width: 100%;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(14px);
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		-ms-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
		-webkit-box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
		-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
	}
	&:hover {
		.profile-five-ovelay {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
			transform: translateY(0px);
		}
		.developer-image {
			img {
				border: 5px solid $warning;
			}
		}
	}
}
.profile-five-ovelay {
	h5 {
		font-weight: 500;
		font-size: 20px;
		color: #000000;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		color: #000000;
		margin-bottom: 0;
	}
}
.knowledge-list-five {
	margin-bottom: 48px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		outline: none;
		li {
			margin-bottom: 18px;
		}
	}
}
.knowledge-list-group {
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	img {
		width: 24px;
		margin-right: 10px;
	}
	p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #515151;
		margin-bottom: 0;
	}
}
.joing-count-five {
	position: relative;
	img {
		animation: up-down 3s ease-in-out infinite alternate-reverse both;
	}
}
.share-knowledge-five {
	padding: 60px 0 60px;
	background: #ffffff;
	.header-five-title {
		max-width: 559px;
	}
	.career-five-content {
		max-width: 550px;
	}
}
.joing-count-five-one {
	text-align: center;
	position: absolute;
	left: 0rem;
	top: 6.5rem;
	z-index: 2;
}
.joing-count-five-two {
	text-align: center;
	position: absolute;
	left: -4rem;
	bottom: 3rem;
	z-index: 2;
}
.joing-count-five-three {
	text-align: center;
	position: absolute;
	right: 5rem;
	top: 2rem;
	z-index: 2;
}
.joing-count-number {
	font-weight: 700;
	font-size: 32px;
	color: #2D0160;
}
.joing-count-text {
	font-weight: 500;
	font-size: 22px;
	color: #2D0160;
	margin-bottom: 0;
}


/*-----------------
	Achieve your Goals 
-----------------------*/
.goals-section-five {
	background: $warning;
	padding: 60px 0 60px;
}
.goals-content-five {
	h4 {
		font-weight: 700;
		font-size: 32px;
		color: #2D0160;
	}
	p {
		font-weight: 500;
		font-size: 16px;
		color: #515151;
	}
}
.goals-count-five {
	border-left: 1px solid #FFF09F;
}


/*-----------------
	Transform Access
-----------------------*/
.transform-section-five {
	padding: 60px 0 60px;
}
.transform-access-content {
	.career-five-content {
		max-width: 550px;
	}
}
.transform-count-five-one {
	position: absolute;
	top: 0;
	left: -2rem;
	text-align: center;
}
.home-five {
	.course-count {
		h3 {
			margin-bottom: 0;
		}
	}
}
.transform-count-five-two {
	position: absolute;
	top: 3.5rem;
	right: 6.5rem;
	text-align: center;
}
.transform-count-five-three {
	position: absolute;
	bottom: 3.5rem;
	right: 3.5rem;
	text-align: center;
}


/*-----------------
	Testimonial
-----------------------*/
.testimonial-section-five {
	background: #2D0160;
	padding: 60px 0 60px;
	.slick-prev {
		left: -80px;
		&:before {
			font-family: "Font Awesome 5 Free";
			content: "\f054";
			color: #392C7D;
			font-size: 16px;
			font-weight: 900;
		}
	}
	.slick-next {
		right: -80px;
		&:before {
			font-family: "Font Awesome 5 Free";
			content: "\f053";
			color: #392C7D;
			font-size: 16px;
			font-weight: 900;
		}
	}
}
.testimonial-slider-five {
	max-width: 1000px;
	width: 100%;
	margin: auto;
}
.testimonial-item {
	display: flex;
	align-items: center;
	position: relative;
	&:before {
		content: "";
		background: $warning;
		border-radius: 35px;
		width: 62px;
		height: 168px;
		left: 25px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.testimonial-content-five {
	position: relative;
	background: #ffffff;
	border-radius: 10px;
	left: 35px;
	padding: 40px;
	width: 757px;
	z-index: 2;
	.testimonial-text {
		h5 {
			margin-bottom: 20px;
		}
		p {
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	.testimonial-users {
		h5 {
			color: $primary;
			margin-bottom: 4px;
		}
	}
}

.testimonial-users {
	h5 {
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.002em;
		color: #000000;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		color: #000000;
		margin-bottom: 0;
	}
}
.testimonial-section-five .slick-prev, 
.testimonial-section-five .slick-next {
	z-index: 99;
	background: #FFFFFF;
	box-shadow: 0px 4px 60px rgb(41 44 124 / 15%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.testimonial-section-five .slick-prev:hover, 
.testimonial-section-five .slick-next:hover, 
.testimonial-section-five .swiper-button-prev:hover, 
.testimonial-section-five .swiper-button-next:hover {
	color: #000;
	background: $warning;
	opacity: 1;
}
.testimonial-section-five .slick-prev:hover:before, 
.testimonial-section-five .slick-prev:focus:before, 
.testimonial-section-five .slick-next:hover:before, 
.testimonial-section-five .slick-next:focus:before, 
.testimonial-section-five .swiper-button-prev:hover:before, 
.testimonial-section-five .swiper-button-next:hover:before {
	color: #fff;
	opacity: 1;
}
.testimonial-section-five .slick-next:focus, 
.testimonial-section-five .slick-prev:focus {
	background: $warning;
}
[dir='rtl'] {
	.testimonial-section-five {
		.slick-prev {
			&:before {
				content: '→';
			}
		}
		.slick-next {
			&:before {
				content: '←';
			}
		}
	}
}

/*-----------------
	Latest Blogs
-----------------------*/

.blogs-section-five {
    padding: 60px 0 60px;
    .owl-theme {
        .owl-nav.disabled+.owl-dots {
            margin-top: 16px;
            margin-bottom: 0;
        }
    }
}
.blog-five-header {
    border-bottom: 1px solid rgba(57, 44, 125, 0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.blog-five-footer h3 {
    display: flex;
	font-weight: 600;
	font-size: 20px;
	color: #392C7D;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    margin-bottom: 0;
}
.blogs-section-five {

}
.blog-five-header .blog-five-text p {
	font-weight: 600;
	font-size: 16px;
	color: #515151;
	margin-bottom: 0;    
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.testimonial-item {
	.testimonial-content-five {

	}
}
@include respond-above (lg) {
    .home-six {
        .header-three {
            .main-menu-wrapper .main-nav > li {
                > a {
                    color: $white;
                }
                &.active {
                    > a {
                        color: $secondary;
                    }
                }
            }
        }
    }
}
.home-five-course {
	.slick-dots {
		margin-top: 40px;
		position: static;
		li {
			width: 50px;
			height: 5px;
			button {
				width: 50px;
				height: 5px;
				background: $light;
				padding: 0;
				margin-right: 5px;
			}
			&.slick-active {
				button {
					background: $secondary;
				}
			}
		}
	}
}
.home-five-blog {
	.slick-dots {
		li {
			width: 50px;
			height: 5px;
			button {
				width: 50px;
				height: 5px;
				background: $light;
				padding: 0;
				margin-right: 5px;
			}
			&.slick-active {
				button {
					background: $secondary;
				}
			}
		}
	}
	.slick-list {
		margin: 0 -12px;
	}
	.slick-slide {
		margin: 0 12px;
	}
}
.footer {
	&.footer-six {
		background: $dark;
		.footer-top-five {
			padding: 40px 0;
			.footer-contact  {
				.footer-title-five {
					color: $white;
					margin-bottom: 15px;
				}
				.footer-address {
					margin-bottom: 8px;
					h6 {
						color: $white;
						font-size: $font-size-14;
						margin-bottom: 4px;
					}
					p {
						color: $white;
						margin-bottom: 0;
					}
				}
			}
			.footer-menu {
				.footer-title-five {
					color: $white;
					margin-bottom: 15px;
				}
				ul {
					li {
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							color: $light;
						}
					}
				}
			}
		}
		.footer-bottom-six {
			background: $dark;
			.copyright-text {
				p {
					color: $light;
				}
			}
			.social-icon-five {
				ul {
					display: flex;
					align-items: center;
					justify-content: end;
					li {
						margin-right: 8px;
						a {
							color: $light;
						}
					}
				}
			}
		}
	}
}
.home-six {
	.header-three {
		&.fixed {
			.logo-white {
				display: none;
			}
			.logo-dark {
				display: block;
			}
		}
	}
}